# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# dist/
src/generated/
*.db
*.db-journal

# terraform
.terraform
terraform/.tfvars
packages/*
# Sentry
.sentryclirc

# Sentry
next.config.original.js

testKey*

# Sentry Auth Token
.sentryclirc

# Digital Ocean
_static

# Sentry Auth Token
.sentryclirc

scripts/backup-prod.sh
prisma/*.sql
